.tan-bg {
	background-image:url(/ie-tan-trans.png);
	border-bottom:3px solid white;
}

.orange-bg {
	background-image:url(/ie-orange-trans.png);
	border-bottom:3px solid white;
}

.featured-site {
	background-image:url(/ie-orange-trans.png);
}