/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
	width:100%;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {	
	background-image:url(/img/we.jpg);
	font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	min-width:1120px;
}

ul {
	list-style:none; 
	padding:0; 
	margin:0;
}

a:link, 
a:visited {
	color:black;
}

.header a:link, 
.PageContainer2 a:link {
	text-decoration:none;
	color:black;
}

#services-provided li {
	display:inline-block; 
	width:27%; 
	padding-left:5%;
	padding-bottom:.35em;
}

.ContainerInHeader a:visited,
.PageContainer2 a:visited {
	color:black;
}
 
.ContainerInHeader a:hover,
.PageContainer2 a:hover {
	background: tan;
	color:white;
}

.ContainerInHeader a:active {
	color:black;
}

.Header	{
	width:100%;
	min-width:1120px;
	height:140px;
	float:left;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	background-color:orange;
	border-bottom:black 3px solid;
	border-top:black solid 3px;
}

.tan-bg {
	background-color: rgba(255,212,150,0.4);
	border-bottom:3px solid white;
}

.orange-bg {
	background-color: rgba(255, 165, 0, 0.5);
	border-bottom:3px solid white;
}

.ContainerInHeader {
	width:100%;
	max-width:1100px;
	height:140px;
	margin-left:auto;
	margin-right:auto;
}

.LogoContainer {
	position:absolute;
	height:130px; 
	width:140px;
}

.LeftTextContainer {
	height:125px;
	width:277px;
	float:left;
	margin-left:160px;
	margin-top:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

.SloganContainer {
	font-size:1.6em; 
	margin-top:8px; 
	text-align:center;
}

.HeaderSlogan {
	text-align:center;
	font-size:15px;
	text-align:center;
}

ul#Navigation {
	margin: 0; padding: 0;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	float: right;
	width: 560px;
	height:80px; 
	list-style: none; 
	font-size: 19px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

.featured-services li {
	width:43%; 
	padding-bottom:8px; 
	float:left;
	background-repeat:no-repeat; 
	background-size:24px auto; 
	padding-left:7%;
}

.featured-left-col a {
	color:#404040;
}

.featured-left-col a:hover {
	color:black;
}
	
.featured-site {
	width:100%;
	background-color: rgba(255, 165, 0, 0.5);
	border-top:3px white solid;
	border-bottom:3px white solid;
	padding-bottom:50px;
}

.featured-website-hover {
	position:absolute; 
	height:969px; 
	width:100%; 
	display:table;
}

.featured-website-hover:hover {
	background-color: rgba(0,0,0,0.4);
}

.featured-website-hover:hover .right-col-view-site { 
	display:block; 
	vertical-align:middle; 
	margin-top:350px; 
	width:100%; 
	text-align:center; 
	font-size:48px;
}

.right-col-view-site {
	display:none;
}

.featured-left-col {
	display:inline-block; 
	margin:0; 
	padding:0; 
	width:47%;
}

.featured-right-col {
	float:right; 
	width:50%; 
	position:relative; 
	height:780px; 
	margin-top:30px; 
	overflow-y:hidden;
}

.services-list li {
	float:left; 
	width:50%; 
	padding-bottom:.35em;
}

.portfolio-desc {
	width:100%;
	height:600px;
	max-width:1700px;
	margin:0 auto;
	margin-top:140px;
	text-align:center;
	background-size:100% 100%;
	display:table;
	background-repeat:no-repeat;
 	background-image:url(/portfolio-top-image.jpg);
}
	
.page-container {
	width:1010px;
	margin:0 auto;
	padding:40px 0;
}
		
ul#Navigation li {
	float: right;
	height:80px;
	margin-left: 0; 
	padding: 0;
}

ul#Navigation li a {
	padding: 30px 15px;
	display: block;
	text-decoration: none;
}

ul#Navigation li:hover {
	background: tan url(topnav_active.gif) repeat-x;
}

ul#Navigation li span {
	float: left;
	padding: 15px 0;
	display: none;
	width: 600px;
	background: tan;
	color: black;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
ul#Navigation li:hover span { 
	display: block; 
}

ul#Navigation li span a { 
	display: inline; 
}
ul#Navigation li span a:hover {
	text-decoration: underline;
}

.button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  min-width: 96px;
  line-height: 46px;
  padding: 0 24px;
  font-size: 18px;
  font: Lucida Grande, Verdana, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

.button:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}

.button:hover {
  background-color: #1a74d3;
}

.button:active {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px #154c86;
  background: tan;
  border-color: #113f70 #154c86 #1c65b2;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -moz-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -o-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: linear-gradient(to bottom, #1a5da5, #3a8be0);
}

.button-red {
  text-shadow: 0 1px #72100d;
}

.button-red:hover {
  background-color: orange;
}

.button-red:active {
  text-shadow: 0 -1px #72100d;
  background: tan;
}

.button:active:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

* {
margin: 0;
}
html, body {
height: 100%;
}
.sticky-wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

.FooterContainer{float:left;
width:100%;
min-width:1120px; 
height:285px;
background-image:url(/img/merp.png);
left:0px;
right:0px;
position:absolute;
border-top: solid black 3px;
}

.PageContainer2{width:1100px;
height:280px;
margin-right:auto;
margin-left:auto;}

.FooterLeftContainer{height:240px;
width:457px;
float:left;}

.FooterTitle{height:65px;
width:220px;
font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
font-size:24px;
margin-left:auto;
margin-right:auto;
margin-top:7px;
}

.FooterServicesContainer{width:467px;
height:130px;
margin-top:10px;}

.FooterRightContainer{height:205px;
width:457px;
float:right;}

.FooterTitle2{height:65px;
width:270px;
font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
font-size:24px;
margin-left:auto;
margin-right:auto;
margin-top:7px;
}

.Link{height:auto;
width:auto;
margin-top:0px;
padding-left:20px;}

.Link:hover{
background: tan;
cursor: pointer;
color:white;
font-weight:bold;
}

.FooterServicesContainer{width:467px;
height:130px;
margin-top:10px;}

.FooterServicesText{height:130px;
width:223px;
font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
float:left;
line-height:220%;
font-size:16px;
}

.FooterConnectText{height:130px;
width:247px;
font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
float:left;
line-height:220%;
padding-left:30px;
}

.FooterServices2Text{height:130px;
width:244px;
font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
line-height:220%;
float:right;} 

.FooterConnect2Text{height:160px;
width:190px;
font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
float:right;
}

.SocialMediaLogo{height:160px;
width:45px;
line-height:200%;
float:right; 
padding-left:15px;
}

.SocialMedia{height:160px;
width:125px;
float:right;
line-height:200%;
}

.FooterLogoContainer{height:205px;
width:185px;
margin-left:auto;
margin-right:auto;
padding-top:10px;
}

.FooterSlogan{font-family:"Lucida Sans Unicode", "Lucida Grande", "sans-serif";
height:40px;
width:300px;
line-height:200%;
margin-right:auto;
margin-left:auto;
}
.Individual{float:left;
height:30px;
margin-top:3px;}

.Individual2{float:left;
height:30px;
margin-top:12px;}


.Copyright{height:40px;
width:100%;
background-color:black;
position:absolute;
bottom:0;
color:white;
line-height:250%;
border-top:2px solid tan;}

.CenterText{text-align:center;}

table.TableAnalytics{margin-left:auto;
margin-right:auto;}

table.TableAnalytics td{padding-top:10px;
padding-left:50px;
padding-right:50px;}

table.TableSocial{margin-left:auto;
margin-right:auto;}

table.TableSocial td{padding-top:10px;
padding-left:6px;
padding-right:6px;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix { 
    *zoom: 1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important; 
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
